@media screen and (max-width: 750px){

    .Food-Item-Active {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        margin-top: 140vw;
        padding-bottom: 20vw;
    }

    .shifted{
        transform: translateY(-39vw);
    }

    .card0,.card1 {
        width: 100vw;
        height: 70vw;
    }

    .Food-Item-pic {

        width: 40vw;
        border-radius: 5vh;

    }
}


@media screen and (max-width: 440px) {
    .shifted {
        transform: translateY(-50vw);

    }

    .main-div-div{
        margin-top: 5vw;
        overflow: hidden;

    }
}
