/*Style for whole Page*/

#whole-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;

}

button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/*Style for Input Element*/
.main-div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.shifted{
    transform: translateY(-20vw);
}

.Category-Input-inactive{
    display: none;
}

.Category-Button-inactive{
    display: none;
}

.Area-Input-inactive{
    display: none;
}

.Area-Button-inactive{
    display: none;
}
.Category-Input-active{
    display: inline;
}

.Category-Button-active{
    display: inline;
}



/* Food-Item-Active: Father from Food-Item-Active > div*/
.Food-Item{
    display: none ;
}

.Food-Item-Active {
    display: flex;
    margin-top: 15vw;
    gap: 5vh;

}




/*Div der einzelnen Cards*/

.card0,.card1 {
    width: 35vw;
    height: 35vw;
    background: cornflowerblue;
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    transition: transform 0.8s ;
    transform-style: preserve-3d;
}

.Food-Item-pic {

    width: 25vw;
    border-radius: 5vh;

}

/*recipe RückSeite*/

.card1-back,
.card0-back{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    overflow: auto;
    transform: rotateY(180deg);

}

.card1-front,
.card0-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card1.flipped,
.card0.flipped {
    transform: rotateY(180deg);

}

.card1-front, .card1-back ,
.card0-front, .card0-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
