
#whole-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Main Div EingabeFeld*/

.click-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.shifted{
    transform: translateY(-40vh);
}


/* Food-Item-Active: Father from Food-Item-Active > div*/
.Food-Item{
    display: none ;
}

.Food-Item-Active {
    display: flex;
    margin-top: 10vh;
    gap: 5vh;

}
/*Div der einzelnen Cards*/

.card0,.card1 {
    width: 40vh;
    height: 40vh;
    background: lightgray;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
    margin-top: 20vh;
    transition: transform 0.8s ;
    transform-style: preserve-3d;
}

.Food-Item-pic {
    width: 20vh;
    border-radius: 5vh;

}

/*recipe RückSeite*/

.card1-back,
.card0-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80vh;
    margin-top: 20vh;
}

.card1-front,
.card0-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card1.flipped,
.card0.flipped {
    transform: rotateY(180deg);
}

.card1-front, .card1-back ,
.card0-front, .card0-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card1-back,
.card0-back {
    transform: rotateY(180deg);
}

.card1-back, .card0-back {
    display: flex;
    justify-content: center;
    align-items: center;

}
